_build
project/gpudbapilib/Debug/
project/gpudbapilib/x64/Debug/GPUdb.obj
project/gpudbapilib/x64/Debug/Type.obj
project/gpudbapilib/x64/Debug/
project/gpudbapilib/x64/Release/
project/gpudbapiexe/gpudbapiexe/x64/
project/gpudbapidll/gpudbapidll/x64/
project/gpudbapidll/x64/
project/gpudbapidll/gpudbapidll.sdf
makedist.log
build-RelWithDebInfo/
thirdparty/
project/gpudbapilib/Release/
project/gpudbapiexe/gpudbapiexe/Release/
project/gpudbapidll/Release/
project/gpudbapidll/.vs/
project/gpudbapidll/Debug/
project/gpudbapidll/gpudbapidll/Release/
*.suo
*.opensdf
*.VC.db
project/gpudbapidll/Win32/
project/gpudbapilib/Win32/
project/gpudbapidll/gpudbapidll/Debug/
project/gpudbapidll/.nuget/
project/gpudbapidll/packages/
project/gpudbapiexe/gpudbapiexe/Debug/
project/gpudbapidll/ipch/
project/.vs/
*.user
project/packages/
project/x64/
project/Win32/
project/gpudbapiexe/x64/
